.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    width: 71%;
}

.react-datepicker__input-container input {
    padding: 15px 30px;
    height: 47px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 50px;
    display: block;
    width: 100%;
}